.header{
    display: flex;
    align-items: center;
}
.header .container-fluid{
    display: flex;
    align-items: center;
}
.header  .navigation {
    padding-top: 10px;
}
.header  .navigation li {
    display: inline-block;
    padding: 20px 12px;
    margin: 0 15px;
}
.header  .navigation li a{
    font-size: 13px;
    transition: .5s;
    font-weight: 400;
}
.header  .navigation li a.active{
    color: #236da9;
    font-weight: 600;
}
.header  .navigation li a:hover{
    color: #236da9;
    transition: .5s;
}
.header .logo__area img{
    height: 40px;
}
@media screen and (max-width:920px){
    .header  .navigation {
        display: none;
    }
}