.form_group .form-control{
    width: 100%;
    display: block;
    height: 57px;
    outline: none;
    border-radius: 2px;
    background: none 0% 0% repeat scroll rgb(55, 56, 62);
    padding: 0 20px;
    color: #fff;
    font-size: 12px;
}
.form_group .form-control::placeholder{
    color: #fff;
    text-align: right !important; 
}
.form_group .form-control.light{
    background: #fff;
    color: #000;
    border: 1px solid #ced4da;
    font-size: 13px;
    font-weight: 500;
    border-radius: 4px;
}
.form_group .form-control.readonly{
    background: #B5B5B5;
}
.form_group .form-control.light::placeholder{
    color: #000;
}