.movie-single-page {
  .movie-single-banner-sec {
    width: 100%;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover !important;
    min-height: 46.756vw;
    margin-top: -5.3rem;
    position: absolute;
    &::after {
      content: "";
      display: block;
      background: rgb(26, 26, 16);
      background: linear-gradient(
          rgba(18, 18, 18, 0) 15vw,
          rgb(18, 18, 18) 46.875vw
        ),
        linear-gradient(to left, rgb(18, 18, 18), rgba(18, 18, 18, 0) 50%);
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
  .movie-sigle-content {
    position: relative;
    padding: 3rem 27px 0.5rem;
    flex: 0 0 50%;
    max-width: 50%;
    .logo_movie {
      max-width: 15vw;
      max-height: 15vh;
      margin-bottom: 30px;
    }
    .movie-feature {
      .imdb img {
        width: 32px;
        min-height: 13px;
        height: 13px;
      }
    }
    .actor-movie {
      max-width: 400px;
      white-space: nowrap;
      display: block;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
    .item-box {
      background: #ffffff26;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:hover {
        background: #ffffff45;
      }
    }
  }
  .actors-movie-item {
    text-align: center;
    img {
      border-radius: 50%;
      width: 125px;
      height: 125px;
    }
  }
}
.container-loading{
  min-height: 60vh;
}
@media screen and (max-width:992px){
  .movie-single-page .movie-sigle-content{
    flex: 0 0 750px;
    max-width: 750px;
  }
  .movie-single-page .movie-sigle-content .actor-movie{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .movie-single-page .movie-single-banner-sec{
    min-height: 300px;
  }
}
@media screen and (max-width:576px){
  .movie-single-page .actors-movie-item img{
    width: 75px;
    height: 75px;
    display: inline-block;
  }
}
@media screen and (max-width:420px){
  .movie-single-page .action_movie{
    flex-wrap: wrap;
  }
  .movie-single-page .action_movie button{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }
}