.footer{
    background-color: #282A395E;
    padding: 2rem 0;
}
.footer .footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
   border-bottom:1px solid #636363;
   padding-bottom: 15px;
}
.footer .footer-top .logo___area img{
   height: 40px;
}
.footer .footer-top .social_links a{
    font-size: 12px;
    font-weight: 400;
}
.footer .footer-top .social_links a:last-child{
    margin-right: 1.4rem;
}
.footer .footer-top .social_links a i {
    margin-left:5px;
}
.footer  .footer_wrapper{
    padding-top: 20px;
    display: flex;
}
.footer  .footer_wrapper .right___{
    flex: 0 0 65%;
    max-width: 65%;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    border-left: 1px solid #707070
}
.footer  .footer_wrapper .right___ .footer-item {
    flex: 0 0 33.33%;
}
.footer  .footer_wrapper .right___ .footer-item .title{
    font-size: 16px;
    margin-bottom: 15px;
}
.footer  .footer_wrapper .right___ .footer-item .footer__list{
    width: 100%;
    flex: 0 0 100%;
   max-width: 100%;
}
.footer  .footer_wrapper .right___ .footer-item .footer__list a{
    font-size: 12px;
    font-weight: 400;
}
.footer  .footer_wrapper .right___ .footer-item .footer__list{
    max-height: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 0 0 100%;
    max-width: 100%;
}
.footer  .footer_wrapper .right___ .footer-item .footer__list .menu_list_footer{
    margin-top: 0.9rem;
}
.footer .footer_wrapper .left___{
    padding-right: 20px;
}
.footer .footer_wrapper .left___ img{
   height: 100px;
}
@media screen and (max-width:920px){
    .footer .footer_wrapper{
        flex-wrap: wrap;
    }
    .footer .footer_wrapper .right___{
       flex: 0 0 100%;
       max-width: 100%;
       margin-bottom: 30px;
       border: none;
    }
    .footer .footer_wrapper .right___ .footer-item{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .footer .footer_wrapper .left___{
        padding-right: 0;
    }
}
@media screen and (max-width:576px){
    .footer .footer_wrapper .right___ {
        flex-wrap: wrap;
    }
    .footer .footer_wrapper .right___ .footer-item{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .footer .footer_wrapper .right___ .footer-item:first-child{
        margin-bottom: 30px;
    }
}