.wish__list .wish-wrapper{
    max-width: 1140px;
    margin: 5rem auto;
}
.wish__list .box-wish-list {
    background: #292929;
    box-shadow: 0 3px 28px #ba1c3a4a;
}
.wish__list .box-wish-list .title{
    padding: 1.5rem;
    border-bottom: 1px solid #565656;
}
.wish__list .box-wish-list .title h2 {
    font-size: 12px;
    font-weight: 500;
}
.wish__list .box-wish-list .body{
    padding: 1.5rem;
}
.wish__list .box-wish-list .body .is-empty {
    text-align: center;
}
.wish__list .box-wish-list .body .is-empty  p {
    font-size: 12px;
    margin: 30px 0;
    font-weight: 400;
}